<div class="jumbotron">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form name="form" role="form" (ngSubmit)="playSong()" [formGroup]="playForm">
                <div class="form-group">
                    <label class="form-control-label" for="numberOfDevices">Number of devices</label>
                    <input type="number" class="form-control" id="numberOfDevices" name="numberOfDevices"
                           placeholder="5"
                           formControlName="numberOfDevices">
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="maxConcurrentDevices">Max number of concurrent devices
                        running</label>
                    <input type="number" class="form-control" id="maxConcurrentDevices" name="maxConcurrentDevices"
                           placeholder="5"
                           formControlName="maxConcurrentDevices">
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="songName">Name of the song you want to play</label>
                    <input type="text" class="form-control" id="songName" name="songName"
                           placeholder="Name of the song"
                           formControlName="songName">
                </div>
                <button type="submit" [disabled]="playForm.invalid" class="btn btn-primary">Play</button>
            </form>
        </div>
    </div>
</div>

