<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-device-heading">Create or edit a Device</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_model">Model</label>
                    <input type="text" class="form-control" name="model" id="field_model"
                           formControlName="model"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_portNumber">Port Number</label>
                    <input type="number" class="form-control" name="portNumber" id="field_portNumber"
                           formControlName="portNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_emulatorName">Emulator Name</label>
                    <input type="text" class="form-control" name="emulatorName" id="field_emulatorName"
                           formControlName="emulatorName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="OFFLINE">OFFLINE</option>
                        <option value="ONLINE">ONLINE</option>
                        <option value="STARTING">STARTING</option>
                        <option value="BUSY">BUSY</option>
                        <option value="ERROR">ERROR</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
